<div class="test-runner-container">
  <div class="test-header">
    <h1>{{ testConfig?.name }}</h1>
  </div>
  <div class="progress-container">
    <div class="progress-bar">
      <div class="progress-completed" [style.width.%]="progressPercentage"></div>
    </div>
  </div>

  <form [formGroup]="testForm">
    <div class="questions-container">
      <div *ngFor="let question of testConfig?.questions; let i = index" class="question-card" [class.active]="i === currentQuestionIndex">
        <div class="question-text">
          <p *ngFor="let line of question.text.split('\n')">{{ line }}</p>
        </div>
        <div class="options-container">
          <div class="options-row">
            <!-- <span class="option-label">Disagree</span> -->
            <div class="radio-options">
              <label *ngFor="let option of [1, 2, 3, 4, 5]">
                <input type="radio" [value]="option" [name]="'question_' + i" [formControl]="answers.at(i)" />
                <span class="radio-circle"></span>
              </label>
            </div>
            <!-- <span class="option-label">Agree</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-buttons">
      <button *ngIf="currentQuestionIndex > 0" (click)="prevQuestion()" class="nav-button prev">Previous</button>
      <button *ngIf="currentQuestionIndex < testConfig?.questions.length - 1" (click)="nextQuestion()" class="nav-button next">Next</button>
      <button *ngIf="currentQuestionIndex === testConfig?.questions.length - 1" (click)="submitTest()" class="nav-button submit">Submit</button>
    </div>
  </form>
</div>
