<div class="test-runner-container" #topContainer>
  <div class="test-header mt-2">
    <h1>{{ testConfig?.name }}</h1>
  </div>

  <div class="progress-container">
    <div class="progress-bar">
      <div class="progress-completed" [style.width.%]="progressPercentage"></div>
    </div>
  </div>

  <form [formGroup]="testForm">
    <div class="questions-container">
      <div *ngFor="let question of testConfig?.questions; let i = index" class="question-card" [class.active]="i === currentQuestionIndex" id="question-{{ i }}">
        <div class="question-text">
          <p *ngFor="let line of question.text.split('\n')">{{ line }}</p>
        </div>

        <div class="options-container">
          <div class="options-row">
            <div class="label-container">
              <span class="option-label">Disagree</span>
            </div>

            <div class="radio-pyramid">
              <div
                *ngFor="let option of [1, 2, 3, 4, 5, 6, 7]"
                class="radio-option"
                [class.size-1]="option === 1 || option === 7"
                [class.size-2]="option === 2 || option === 6"
                [class.size-3]="option === 3 || option === 5"
                [class.size-4]="option === 4"
              >
                <lib-radio-button [radioButtonState]="answers.at(i).value === option" (click)="selectOption(i, option)"> </lib-radio-button>
              </div>
            </div>

            <div class="label-container">
              <span class="option-label">Agree</span>
            </div>
          </div>
        </div>

        <lib-section-separator *ngIf="i < testConfig.questions.length - 1"></lib-section-separator>
      </div>
    </div>

    <div class="navigation-buttons">
      <!-- <button (click)="submitTest()" class="nav-button submit">Submit</button> -->
      <lib-primary-btn (click)="submitTest()"> Submit </lib-primary-btn>
    </div>
  </form>
</div>
