<div class="visualization-container centered-container mt-5">
  <div class="header">
    <h1>{{ 'TEST.TITLE' | translate }}</h1>
  </div>

  <div class="test-selection">
    <div *ngFor="let test of tests" class="test-card mt-2">
      <lib-primary-btn [hoverOutline]="false" (click)="startTest(test.id)">
        {{ test.name | uppercase }}
      </lib-primary-btn>
    </div>
  </div>

  <div *ngIf="showNotification" class="notification-box">
    <div class="notification-content">
      <div class="info-icon">i</div>
      <div class="notification-text">
        <div class="notification-title">{{ 'TEST.NOTIFICATION.TITLE' | translate }}</div>
        <div class="notification-message">{{ 'TEST.NOTIFICATION.MESSAGE' | translate }}</div>
      </div>
      <button class="close-notification-btn" (click)="closeNotification()">×</button>
      <div class="loading-bar">
        <div class="loading-progress"></div>
      </div>
    </div>
  </div>
  <div class="mt-5"></div>

  <lib-circle-progress [imageUrl]="imageUrl" [partialColors]="progressColors" [hideProgress]="true" [max]="1" [value]="0"></lib-circle-progress>

  <!-- <div class="action-section">
    <button (click)="goToAdmin()">{{ 'ADMIN.BUTTONS.ADMIN' | translate }}</button>
  </div> -->

  <div class="action-section mt-5">
    <lib-primary-btn [hoverOutline]="false" (click)="goToAdmin()"> admin </lib-primary-btn>
  </div>

  <div *ngIf="modalOpen" class="modal-backdrop" (click)="closeModal()"></div>

  <div *ngIf="modalOpen" class="modal-content" #modalContent>
    <div class="modal-body">
      <app-test-runner [testId]="selectedTestId" (close)="closeModal()"></app-test-runner>
    </div>
  </div>
</div>
